<!DOCTYPE html>
  <html lang="fr">
    <head>
      <meta charset="UTF-8"/>
      <link rel="cv1" href="main.css">  
      <h1> nom prénom </h1>
    </head>
    <body>
      <p0>
        <img pp=""/>
        <img téléphone=""/>
        <img Linkdin=""/>
        <img mail=""/>
      </p0>
      <p1><h3> COMPETENCES</h3><br>
        entrez un certain nombre compétences<br>
        entrez un certain nombre compétences<br>
        entrez un certain nombre compétences<br>
        entrez un certain nombre compétences<br>
        entrez un certain nombre compétences<br>
        entrez un certain nombre compétences<br>
      </p1>
        <br>
        <br>
        <br>
      <p2><h3>EXPERIENCES PROFESSIONNELLES</h3><br>
        fonction-société-date debut fin <br>
        fonction-société-date debut fin <br>
        fonction-société-date debut fin <br>
        fonction-société-date debut fin <br>
      </p2>
      <p3><h3>FORMATIONS</h3><br>
        fonction-école-date debut fin <br>
        fonction-école-date debut fin <br>
        fonction-école-date debut fin <br>
        fonction-école-date debut fin <br>
      </p3>
    </body>
  </html> 