<!DOCTYPE html>
  <html lang="fr">
    <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="cv1.css">  
      <h1> nom prénom </h1>
    </head>
    <body>
      <p0>
        <img pp=""/>
        <img téléphone=""/>
        <img Linkdin=""/>
        <img mail='mail.png'/>
      </p0>
      <div class="float-container">
        <div class="child">
          <div class="competences">
            <h3> COMPETENCES</h3><br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
          </div>
        </div>
        <div class="child">
          <div class="exp_pro">
            <h3>EXPERIENCES PROFESSIONNELLES</h3><br>
            fonction-société-date debut fin <br>
            fonction-société-date debut fin <br>
            fonction-société-date debut fin <br>
            fonction-société-date debut fin <br>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="formations" >
        <h3>FORMATIONS</h3><br>
        fonction-école-date debut fin <br>
        fonction-école-date debut fin <br>
        fonction-école-date debut fin <br>
        fonction-école-date debut fin <br>
      </div>
    </body>
  </html> 