<!DOCTYPE html>
  <html lang="fr">
    <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="cv1.css">  
      <h1> nom prénom </h1>
    </head>
    <body>
      <p0>
        
      </p0>
      <div class="float-container">
        <div class="child">
          <div class="competences">
            <h3> COMPETENCES</h3><br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
            entrez un certain nombre compétences<br>
          </div>
        </div>
        <div class="child">
          <div class="exp_pro">
            <h3>EXPERIENCES PROFESSIONNELLES</h3><br>
            fonction-société-date debut fin <br>
            fonction-société-date debut fin <br>
            fonction-société-date debut fin <br>
            fonction-société-date debut fin <br>
          </div>
        </div>
      </div>
      <div class="float-container">
        <div class="child">
          <div class="Contact">
            <h3>CONTACT</h3>
            <div class="i1">
              <img src="">
            </div>
            <div class="i2">
              <img src="tel.png" width="26" height="27">
              <figcaption>Téléphone</figcaption>
            </div>
            <div class="i3">
              <img src="linkdin.png">
              <figcaption>linkdin</figcaption>
            </div>
            <div class="i4">
              <img src="mail.png">
              <figcaption>E-mail</figcaption>
            </div>
          </div>
        </div>
        <div class="child">
          <div class="formations" >
            <h3>FORMATIONS</h3><br>
            fonction-école-date debut fin <br>
            fonction-école-date debut fin <br>
            fonction-école-date debut fin <br>
            fonction-école-date debut fin <br>
          </div>
        </div>
      </div>
    </body>
  </html> 